footer {
  background-color: #000;
  color: #fff;
  padding: 40px 20px;
  display: flex;
  flex-direction: column;
  
}

.footer-contenedor {
    width: 100%;
    display: flex;
    flex-direction: row;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    
}
.footer-iz > ul {
    list-style: none;
    float: left;
    text-align: left;
}
.footer-ce > ul {
    list-style: none;
    text-align: center;
    
}
.footer-de > ul {
    list-style: none;
    float: right;
    text-align: right;
   
}
ul > li > a{
    text-decoration: none;
    color: #fff;
    font-size: 15px;
    margin-top: 0;
    
}


.footer-bottom {
  text-align: center;
  border-top: 1px solid #333;
  margin-top: 30px;
  padding-top: 15px;
  font-size: 13px;
  color: #888;
}