footer {
  background-color: #000;
  color: #fff;
  padding: 40px 20px;
}

.footer-contenedor {
  max-width: 1100px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
    
}

.footer-col h3 {
  font-size: 21px;
  margin-bottom: 15px;
  font-weight: normal;
  
}

.footer-col ul {
  list-style: none;
  padding: 0;
  margin: 0;
  
}

.footer-col ul li {
  margin-bottom: 8px;
}

.footer-col ul li a {
  color: #ccc;
  text-decoration: none;
  font-size: 19px;
}

.footer-col ul li a:hover {
  color: #fff;
}

.footer-bottom {
  text-align: center;
  border-top: 1px solid #333;
  margin-top: 30px;
  padding-top: 15px;
  font-size: 13px;
  color: #888;
}