* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.header {
  width: 100%;
  background-color: #000;
  position: fixed;   
  top: 0;            
  left: 0;
  z-index: 1000;     
}
.header > div {
  display: flex;              
  align-items: center;        
}
.logo {
  padding-left: 48px;
  height: 80px;
}
.nav {
  flex-grow: 1;               
}
.nav ul {
  display: flex;
  list-style: none;
  justify-content: center;   
  padding-top: 10px;
  padding-bottom: 10px;
}
.nav ul li {
  margin: 0 20px;
}
.nav ul li a,
.nav ul li button {
  position: relative; 
  color: #FFFFFF;
  text-decoration: none;
  padding: 15px 10px;
  display: block;
  font-family: "SF Automaton", Arial, sans-serif;
  font-size: 17px;
  transition: color 0.3s ease, border-radius 0.3s ease;
  background: none;
  border: none;
  cursor: pointer;
}
.nav ul li a:hover,
.nav ul li button:hover {
  color:#cfc4c4;
  border-radius: 5px;
}
.nav ul li a::after,
.nav ul li button::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 5px; 
  width: 0%;
  height: 2px; 
  background-color: crimson;
  transition: width 0.3s ease;
}
.nav ul li a:hover::after,
.nav ul li button:hover::after {
  width: 100%;
}
.section, article {
  width: 100%;
  margin: 0;
  padding: 0;
}
.contenedor_img{
  position: relative;
}
.contenedor_img > img{
  width:100%;
  position: relative;
}
.banner_1 {
  width: 100%;
  height: auto;
  display: block;
  margin-top: 84px;
  opacity: 0;
  transition: opacity 0.5s ease-in-out; 
}
.fade-in {
  opacity: 1;
}
.fade-out {
  opacity: 0;
}
.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  border: none;
  background: transparent;  
  color: black;             
  font-size: 5rem;
  padding: 0;               
  cursor: pointer;
  z-index: 10;
}
.arrow.left { left: 10px; }
.arrow.right { right: 10px; }
.arrow:hover {
  color: #333;   
  background: transparent; 
}
.dots {
  text-align: center;
  position: absolute;
  bottom: 15px;
  width: 100%;
}
.dot {
  height: 12px;
  width: 12px;
  margin: 0 5px;
  display: inline-block;
  background-color: rgba(255,255,255,0.5);
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.dot.active {
  background-color: black;
}
