
.marcas {
    display: flex;
    flex-wrap: wrap;
    gap:13px;   
    text-align: center;
}

.marca {
  flex: 0 0 calc(25% - 10px); /* 3 columnas con espacio entre ellas */
  background-color: #f0f0f0;
  text-align: center;
  padding: 20px;
  box-sizing: border-box;
}


/* CSS */
.botonM {
  
  background-color: #995151;
  border-radius: 20px;
  border-width: 0;
  margin-top: 20px;
  margin-bottom: 20px;
  color: #000000;
  cursor: pointer;
  display: inline-block;
  font-family: Clarkson,Helvetica,sans-serif;
  font-size: 14px; 
  opacity: 1;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}
.botonM {
  width: 150px;
  height: 50px;
}
.botonM > span {
  font-weight: bolder;
}

.botonM:before {
  animation: opacityFallbackOut .5s step-end forwards;
  backface-visibility: hidden;
  background-color: rgb(248, 248, 241);
  clip-path: polygon(-1% 0, 0 0, -25% 100%, -1% 100%);
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  transform: translateZ(0);
  transition: clip-path .5s cubic-bezier(.165, 0.84, 0.44, 1), -webkit-clip-path .5s cubic-bezier(.165, 0.84, 0.44, 1);
  width: 100%;
  border-radius: 20px;
}

.botonM:hover:before {
  animation: opacityFallbackIn 0s step-start forwards;
  clip-path: polygon(0 0, 101% 0, 101% 101%, 0 101%);
}

.botonM:after {
  background-color: #FFFFFF;
}

.botonM span {
  z-index: 1;
  position: relative;
}

.articulo1M {
    
    flex: 1;                       
    padding: 20px;
    text-align: center;
    border-radius: 11px;            
    cursor: pointer;             
    transition: transform 0.2s ease, box-shadow 0.2s ease; 
    box-shadow: 0 2px 8px rgba(0,0,0,0.15); 
    width: 100%;
    background-color: #ebebeb;
    filter: grayscale(0%);
}


.imagenM > img{
  width: 90%;
  margin-top: 22px;
  border-radius: 11px;
}
/* resposivee */
/* @media (max-width: 1024px) {
  .unoM, .dosM {
    width: 90%;
    flex-direction: column; 
    gap: 15px;
  }

  .articuloM {
    width: 90%;
  }

  .imagen > img {
    width: 100%;
  }
} */

/* -------- CELULARES -------- */
@media (max-width: 600px) {

  .item {
    flex: 0 0 calc(50% - 10px);
    background-color: #f0f0f0;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
  }

} 