.promos-main {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.promos-titulo {
  background-color: #555;
  display: block;
  width: 100%;
  padding-top: 25px;
  padding-bottom: 25px;
  text-align: center;
  color: white;
}

.promos-section {
  display: flex;
  flex-direction: column;
  align-items: center; 
  gap: 20px;
  padding: 20px;
  background-color: whitesmoke;
}

.promos-articulo {
  width: 68%;
}

.promos-articulo1,.promos-articulo2,.promos-articulo3 {
  display: flex;
  align-items: center; 
  justify-content: space-between;
  gap: 20px;
  padding: 20px;
  border-radius: 10px;
  color: white;
  height: auto;
}

.promos-articulo1 > .promos-texto {
  width: 50%;
}

/* Colores diferentes */
.promos-articulo1 {
  background-color: rgb(52, 102, 102);
}
.promos-articulo2 {
  background-color: #6b6b6b;
}
.promos-articulo3 {
  background-color: #7f858d;
}

/* Texto */

.promos-texto {
  font-size: 20px;
  font-family: "SF Automaton", Arial, sans-serif;
  text-align: left;
  transform: translateX(50px);
  animation: aparecer 1s ease-out forwards;
  opacity: 0;
  transform: translateX(50px);
  animation: aparecer 1s ease-out forwards;
  float: right;
  margin-left: 5%;
}

.promos-texto-izq {
  font-size: 20px;
  font-family: "SF Automaton", Arial, sans-serif;
  text-align: left;
  transform: translateX(50px);
  animation: aparecer 1s ease-out forwards;
  opacity: 0;
  transform: translateX(50px);
  animation: aparecer 1s ease-out forwards;
  float: right;
  margin-right: 5%;
}

/*Titulo del texto (h2)*/
 
.promos-texto > p > h3{
  font-size: 30px;
}

/*lado izquierdo*/

.promos-texto-izq > p > h3{
  font-size: 30px;
}

.promos-texto-izq > p > .pregunta {
  color:cadetblue;
  font-size: 25px;
   font-family: "SF Automaton", Arial, sans-serif;
}

/*derecho*/
.promos-texto > p > .pregunta {
  color:cadetblue;
  font-size: 25px;
   font-family: "SF Automaton", Arial, sans-serif;
}

/*Imagenes*/
.promo-img {
  width: 45%;     /* 🔥 ocupa casi la mitad */
  height: auto;   /* mantiene proporción */
  border-radius: 10px;
  object-fit: cover; /* 🔥 recorta bien si la imagen no encaja */
}

@keyframes aparecer {
  to {
    opacity: 1;
    transform: translateX(0);
  }
}